<Files .htaccess>
order allow,deny
deny from all
</Files>

AddDefaultCharset UTF-8

RewriteEngine On
Options +FollowSymlinks
    RewriteBase /
    RewriteCond %{REQUEST_URI} ^(.*?)/?$
    RewriteCond %{DOCUMENT_ROOT}/%1.php -f
    RewriteRule ^(.*?)/?$ $1.php

	
RewriteCond %{REQUEST_FILENAME} !-f

<FilesMatch "\.(htm|html|css|js|php)$">
AddDefaultCharset UTF-8
</FilesMatch>

<FilesMatch "\.(css|flv|htm|html|jpe|jpeg|jpg|js|mp3|mp4|png|pdf|swf|txt)$">
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_headers.c>
		FileETag None
		Header unset ETag
		Header unset Pragma
		Header unset Cache-Control
		Header unset Last-Modified
		Header set Pragma "no-cache"
		Header set Cache-Control "max-age=0, post-check=0, pre-check=0, no-cache, no-store, must-revalidate"
		Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
	</IfModule>
</FilesMatch>